body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f2f5;
}

.site-page-header {
  background: #ffffff;
}


.layout {
  max-width: 1024px;
  margin: auto;
}

.content {
  padding: 0 12px;
}

.item-block {
  margin-top: 10px;
}

.lesson-right-content {
  padding: 15px;
  background: #ffffff;
}